<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <%- include ('../layout/head.ejs') -%>
</head>

<body>
  <div class="container-scroller">
    <div class="horizontal-menu">
      <nav class="navbar top-navbar col-lg-12 col-12 p-0" style="margin-bottom: 0;">
        <div class="container-fluid">
          <div class="navbar-menu-wrapper d-flex align-items-center justify-content-between">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <a class="navbar-brand brand-logo" href="/"><img src="/img/logo.png" alt="logo"/></a>
                <a class="navbar-brand brand-logo-mini" href="/"><img src="/img/logo.png" alt="logo"/></a>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="main-panel">
        <div class="content-wrapper d-flex align-items-center auth px-0">
          <div class="row w-100 mx-0">
            <div class="col-lg-4 mx-auto">
              <div class="auth-form-light text-left py-5 px-4 px-sm-5" style="background: #343a40;">
                <h4 style="color: whitesmoke;">Forgot Password</h4>
                <form class="pt-3" name="forgotForm" id="forgotForm">
                  <div class="form-group">
                    <input type="email" name="email" class="form-control form-control-lg" placeholder="Email" style="color: #f1f6f8;">
                  </div>
                  <div class="mt-3">
                    <a class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" style="background-color: #317376; border-color: #317376;" href="javascript:void(0);" onclick="createNewPassword();">Create New Password</a>
                  </div>
                  <div class="text-center mt-4 font-weight-light" style="color: whitesmoke;">
                    Do you remember your password? <a href="/user/login" style="color: #317376;">Login</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
</body>

<script>

  function createNewPassword() {

    var email = document.forgotForm.email.value;
    if (email == "") {
        alert('Please provide a email.');
        return false;
    }
  
      var formData = $("form[id=forgotForm]").serialize();
  
        $.ajax({
            type: "POST",
            url: "/user/createNewPassword",
            data: formData,
            processData: false,
            cache: false,
            success: function (data) {
                alert(data.msg);
                if (data.state == 2) {
                  window.location.href = '/';
                }
            },
            error: function (e) {
              console.log("ERROR : ", e);
           }
      });
  
  }
  </script>

</html>