<!DOCTYPE html>
<html lang="en" >

<head>
    <%- include ('../layout/head.ejs') -%>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body>
<div class="container-scroller">
    <%- include ('../layout/header.ejs') -%>

    <div class="container-fluid page-body-wrapper">
        <div class="main-panel">

            <div class="content-wrapper" style="padding: 0">

                <div class="row" style="position: absolute; top:50%; left: 50%; transform: translate(-50%, -50%); text-align: center">
                    <div class="col-lg-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body" style="text-align: center;">
                                <h3 class="card-title" style="font-size: xx-large;">Company Database</h3>

                                <div class="form-inline">
                                    <div class="form-group">
                                        <select id="country_id" name="country_id" class="form-control mb-2 mr-sm-2" >
                                            <option value="" selected>- ALL Country -</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <select name="search_bn" class="form-control mb-2 mr-sm-2" id="search_bn">
                                            <option value="">- ALL Business Nature -</option>
                                            <option value="1">Manufacturer</option>
                                            <option value="2">Dealer, agent, distributor, wholesaler</option>
                                            <option value="3">Retailer</option>
                                            <option value="4">Service supplier(Auto refitter / tuner / garage / workshop)</option>
                                            <option value="5">Private & official fleetts</option>
                                            <option value="6">Trade associations/government agencies</option>
                                            <option value="7">Publisher</option>
                                            <option value="8">Research institutions / universities / polytechnic</option>
                                            <option value="9">Others</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <select name="search_pg" class="form-control mb-2 mr-sm-2" id="search_pg">
                                            <option value="">- ALL Product Group -</option>
                                            <option value="1">Commercial Vehicle</option>
                                            <option value="2">Passenger Vehicle</option>
                                            <option value="3">OEM</option>
                                            <option value="4">Aftermarket</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group" style="margin-bottom: 1rem;">
                                    <div class="input-group">
                                        <input type="hidden" name="search_cate" id="search_cate" >
                                        <input class="form-control " id="categoryText" name="categoryText" type="text" placeholder="Category" >
                                        <div class="input-group-append">
                                            <button class="btn btn-sm" type="button" style="background-color: #317376; color:white" onclick="removeCategory();">X</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-inline">
                                    <div class="form-group" >
                                        <select id="search_type" class="form-control mb-2 mr-sm-2" name="search_type">
                                            <option value="1" selected>ALL</option>
                                            <option value="2" >COMPANY</option>
                                            <option value="3" >CEO</option>
                                            <option value="4" >MAIN_PRODUCT</option>
                                        </select>
                                    </div>
                                    <div class="form-group" >
                                        <input id="search_txt" type="text" class="form-control mb-2 mr-sm-2" aria-describedby="button-addon5" onKeyDown="onKeyDown();">
                                    </div>
                                    <button type="button" class="btn btn-primary mb-2" style="background-color: #317376;" onClick="search('1');">Search</button>


                                </div>
                                <div class="d-flex" style="padding-top: 5px;">
                                    <div class="mr-auto p-2">
                                        <p class="card-description">
                                            <strong>Register Companies</strong> <code class="font-weight-bold">total count</code>
                                        </p>
                                    </div>
                                    <div class="mr-auto p-2">
                                        <p class="card-description">
                                            <strong>Component1</strong> <code class="font-weight-bold">1</code>
                                        </p>
                                    </div>
                                    <div class="mr-auto p-2">
                                        <p class="card-description">
                                            <strong>Component2</strong> <code class="font-weight-bold">1</code>
                                        </p>
                                    </div>
                                    <div class="mr-auto p-2">
                                        <p class="card-description">
                                            <strong>Component3</strong> <code class="font-weight-bold">1</code>
                                        </p>
                                    </div>
                                    <div class="mr-auto p-2">
                                        <p class="card-description">
                                            <strong>Component4</strong> <code class="font-weight-bold">1</code>
                                        </p>
                                    </div>
                                    <div class="mr-auto p-2">
                                        <p class="card-description">
                                            <strong>Component5</strong> <code class="font-weight-bold">1</code>
                                        </p>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <
            <!-- content-wrapper ends -->
            <!-- partial:../../partials/_footer.html -->
            <%- include ('../layout/footer.ejs') -%>
            <!-- partial -->
        </div>
    </div>
</div>
</body>
</html>