<!-- 
<footer class="sticky-footer" style="background-color: #343a40;">
    <div>
        <div class="copyright text-center my-auto">
            <span style="color:white;">Copyright ©AUTOIN Inc. All Rights Reserved</span>
        </div>
    </div>
</footer> -->
<footer class="footer">
    <div class="footer-wrap">
        <div class="w-100 clearfix">
            <span class="d-block text-center text-sm-left d-sm-inline-block" style="color: white;">Copyright ©AUTOIN Inc. All Rights Reserved</span>
          <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
                <a href="https://www.facebook.com/autoinspec" target="_blank"><i class="fab fa-facebook-square" style="color: #3b5998; font-size: 1.2rem; padding-right: 15px;"></i></a>
                <a href="https://instagram.com/autoinspec" target="_blank"><i class="fab fa-instagram" style="color: whitesmoke; font-size: 1.2rem; padding-right: 15px;"></i></a>
                <a href="https://www.linkedin.com/company/autoininc" target="_blank"><i class="fab fa-linkedin" style="color: #0e76a8; font-size: 1.2rem;"></i></a>
            </span>
        </div>
    </div>
</footer>
