
  
  <title>AUTOINSPEC- Data services for Global Automotive Industry</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="/assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <script src="/js/common_ejs.js"></script>
  <script src="/main/vendors/chart.js/Chart.min.js"></script>
  <script src="/js/custom-chart.js"></script>
  <link rel="stylesheet" href="/main/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/main/vendors/base/vendor.bundle.base.css">
  <link rel="stylesheet" href="/main/css/style.css">
  <script src="/main/vendors/base/vendor.bundle.base.js"></script>
  <script src="/main/js/template.js"></script>
  <script src="/main/vendors/progressbar.js/progressbar.min.js"></script>
  <script src="/main/vendors/chartjs-plugin-datalabels/chartjs-plugin-datalabels.js"></script>
  <script src="https://www.paypal.com/sdk/js?client-id=Aa6b2sCxlNbK8iJEAQwSq9HoD8aQjzOBSAYNbqW__JjWjtzcQzogyUwJikMAis22kKI87nZj9W0l_IYn"></script>
  <link rel="stylesheet" href="/main/vendors/select2-bootstrap-theme/select2-bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <script src="/main/vendors/typeahead.js/typeahead.bundle.min.js"></script>
  <script src="/main/vendors/select2/select2.min.js"></script>
  <script src="/js/file-upload.js"></script>
  <link rel="stylesheet" href="/css/setting.css">
  <link rel="stylesheet" href="/css/my_top.css">
  <link rel="icon" href="/public/main/images/favicon.ico">