<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="/admin/company/before">
          <i class="mdi mdi-buffer menu-icon"></i>
          <span class="menu-title">업체 수정</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#add" aria-expanded="false" aria-controls="add">
          <i class="mdi mdi-lead-pencil menu-icon"></i>
          <span class="menu-title">업체 등록</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="add">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="/admin/company/addForm">Form 등록</a></li>
            <li class="nav-item"> <a class="nav-link" href="/admin/company/excelUploadForm">Excel 업로드</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#code" aria-expanded="false" aria-controls="code">
          <i class="mdi mdi-octagon menu-icon"></i>
          <span class="menu-title">코드 관리</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="code">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="/admin/countries/list">나라</a></li>
            <li class="nav-item"> <a class="nav-link" href="/admin/category/list">카테고리</a></li>
            <li class="nav-item"> <a class="nav-link" href="/admin/field/list">필드</a></li>
            <li class="nav-item"> <a class="nav-link" href="/admin/rating/ratingItem/1">RATING</a></li>
            <li class="nav-item"> <a class="nav-link" href="/admin/description/view_description">항목 설명</a></li>
            <li class="nav-item"> <a class="nav-link" href="/admin/certification/list">인증여부</a></li>
            <li class="nav-item"> <a class="nav-link" href="/admin/currency/list">통화</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#homepage" aria-expanded="false" aria-controls="homepage">
          <i class="mdi mdi-home menu-icon"></i>
          <span class="menu-title">홈페이지 관리</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="homepage">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="/admin/homepage/about">About</a></li>
            <li class="nav-item"> <a class="nav-link" href="/admin/homepage/service">Sevice</a></li>
            <li class="nav-item"> <a class="nav-link" href="/admin/homepage/help">Help</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/user/all">
          <i class="mdi mdi-account menu-icon"></i>
          <span class="menu-title">사용자 관리</span>
        </a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#pay" aria-expanded="false" aria-controls="pay">
          <i class="mdi mdi-coin menu-icon"></i>
          <span class="menu-title">결제 관리</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="pay">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="/admin/payment/wireTransfer_setting">항목</a></li>
            <li class="nav-item"> <a class="nav-link" href="/admin/payment/paymentList">내역</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/creditReport/reportList">
          <i class="mdi mdi-file-document menu-icon"></i>
          <span class="menu-title">신용리포트 신청 내역</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/qna/qnaList">
          <i class="mdi mdi-comment-question-outline menu-icon"></i>
          <span class="menu-title">1:1문의</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/customerManagement/list">
          <span class="menu-title">고객관리시스템</span>
        </a>
      </li>
    </ul>
  </nav>